 body{
    background: url("https://your-chat.ru/control/login/Simple/images/bg1.jpg");
    margin: 0;
  }
    @font-face {
    font-family: "Groomer";  
    src: url("Groomer.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
        }

  #main{
    width: 70%;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 10%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px #CF8968;
  }

  #img{
    width: 60%;
    height:347px;
    background: url("images/humans.png") no-repeat center;
    background-clip: border-box;
    background-size: 90% 347px;
    float: left; 
  }


  #enter{
    position: relative;
    float: left; width: 40%;
    text-align: center;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  #enter .slogan {
    font-weight:500;
    font-size: 15px;
  }

  #logo{
    position: relative;
    float: left; width: 40%; height: 70px;        
  }

  #logo h1{
    font-family: "Groomer";
    font-size: 45px; 
    color: rgb(0, 113, 179);
    text-align: left;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 10px;
  }

  #menu{
    position: relative;
    padding-top:15px;
    background: url("images/bghr.png") no-repeat right;
    float: left; width: 60%; height: 70px;
  }
 

  #footer{
    position: relative;
    float: left; width: 100%; height: 100px;
  }
  #lfooter{
    position: relative;
    background: url("images/bgfl.png") no-repeat;
    background-position: bottom left;
    float: left; width: 50%; height: 100px;
  }
  #rfooter{
    position: relative;
    background: url("images/bgfr.png") no-repeat right ;
    float: left; width: 50%; height: 100px;
  }


  @media screen and (max-width: 980px) {
    #img {
      width: 100%;
      height: 210px;
      background-size: 95% auto;
   }

    #menu {
       height: 0;
       width: 95%;
       background: none;
       visibility: hidden;
    }

    #main {
      width: 95%;
      top: 2%;
 
   }

   #logo {
      width: 100%;
 }
    #logo h1{
      text-align: center;
    }


    #enter{
      width: 100%;
      padding: 10px;
    }
    #enter .slogan {
      font-weight:500;
      font-size: 15px;
    }


    #footer{
      border: 1px solid;
      width: 100%; height: 0;
      visibility: hidden;
    }
    #lfooter{
      border: 1px solid;
      background: none;
      width: 0; height: 0;
      visibility: hidden;
    }
    #rfooter{
      border: 1px solid;
      background: none;
      width: 0; height: 0;
      visibility: hidden;
    }
  }